* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	background-color: #fff9dc;
	color: #1a1a1a;
	height: 100vh;
}

header {
	background-color: #342e09;
	color: #b69b02;
	position: relative;
	top: 0;
	width: 100%;
	height: 80px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
}

.title {
	display: flex;
	align-items: center;
	margin: 0px 20px;
	position: relative;
}

.h2{
	position: relative;
	left: 110px;
}

.notes {
	display: flex;
	justify-content: flex-start;
	margin: 0px auto;
}

.new-note {
	background-color: rgb(253, 220, 34, 0.7);
	border: 2px solid #342e09;
	margin: 0px 10px;
	padding: 5px;
	flex-shrink: 0;
	box-shadow: 5px 5px 10px #595959;
	width: 250px;
	height: 250px;
}

p {
	font-size: 1.17em;
	font-weight: 400;
	padding: 0px 10px;
	text-align: left;
	color: #342e09;
}

table {
	width: 100%;
	display: grid;
	grid-template-rows: repeat(auto-fit, 280px);
	grid-template-columns: repeat(auto-fit, 280px);
	grid-pap: 10px;
	justify-content: space-evenly;
}

.note {
	background-color: rgb(253, 220, 34, 0.7);
	border: 2px solid #342e09;
	margin: 0px 10px;
	box-shadow: 5px 5px 10px #595959;
	width: 250px;
	height: 250px;
	position: relative;
}

.note-content {
	height: 100%;
	width: 100%;
	padding: 0px 5px;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 20%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

button {
	margin: 5px 0px;
	margin-right: 10px;
	padding: 5px 10px;
	font-size: 1rem;
	background-color: #343009;
	color: #fded2a;
	border: 2px solid #343009;
	border-radius: 10px;
	align-self: flex-end;
}

button:hover {
	border: 2px solid #343009;
	background-color: #fded2a;
	color: #343009;
}

